html {
  height: 100%;
  width: 100%;
  background-image: url("../dokumentacija/pozadina2.jpg");
}

#header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}
#header p {
  font-size: 50px;
  text-align: center;
}
#sadrzaj {
  position: relative;
  top: 20%;
  left: 15%;
  height: 60%;
  width: 85%;
}
#nav {
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 20%;
  height: 78%;
  width: 15%;
  font-size: 25px;
  margin-left: 5px;
}
#nav a {
  text-decoration: none;
  color: white;
}
#sadrzaj label {
  display: inline-block;
  width: 10%;
  text-align: left;
  font-size: 18px;
  color: white;
}
#sadrzaj img {
  position: relative;
  height: 300px;
  width: 250px;
  top: -200px;
  left: 30%;
}

#sadrzaj ol {
  margin: 5%;
  font-size: 30px;
  color: white;
  list-style-type: none;
}

.blok {
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 600px;
  height: 100px;
  top: -100px;
  color: white;
  font-size: 20px;
}
.oglas {
  border: 5px solid white;
  height: 300px;
  width: 300px;
}
